h1{
    text-align: center;

}
.container{
    display: flex;
    width: 50%;
    border: 2px solid black;
    margin: auto;
    height: 500px;
    border-radius: 15px;
}
.heading{
    animation-name: slide_from_left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes slide_from_left{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.button{
    top: 22px;
    position: relative;
    display: flex;
    margin: auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(33, 80, 122);
    color: white;
    
}

.count{
    display: block;
    position: relative;
    top: 40px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    
}

.count li{
   list-style: none;
}